:root {
  --neutral-0: white;
  --neutral-10: #fffcf1;
  --neutral-30: #d2d2d2;
  --neutral-40: #b7b7b7;
  --neutral-60: #666666;
  --neutral-70: #333333;
  --neutral-100: black;
  
  --primary-60: #777ba2;
  --primary-70: #3D405B;
  --primary-80: #303349;
  
  --secondary-70: #81B29A;
  --secondary-80: #709f88;

  --error: #c10000;
  --black: black;

  --slack-bg: white;
  --slack-border: 1px solid #ddd;
}

.dark-theme {
  --neutral-0: black;
  --neutral-10: #1a1a1a;
  --neutral-30: #3d3d3d;
  --neutral-40: #595959;
  --neutral-60: #999999;
  --neutral-70: #cccccc;
  --neutral-100: white;

  --primary-60: #979ec7;
  --primary-70: #a7aed6;
  --primary-80: #b8bfe9;

  --secondary-70: #79BEA5;
  --secondary-80: #89cfb5;

  --error: #f25252;

  --slack-bg: #4A154B;
  --slack-border: 1px solid var(--slack-bg);
}

.warm-theme {
  --neutral-0: #fff7e0;
  --neutral-10: #ffedcc;
  --neutral-30: #ffdbb7;
  --neutral-40: #ffb89d;
  --neutral-60: #ff9473;
  --neutral-70: #ff5733;
  --neutral-100: #4d2600;

  --primary-60: #f28e2b;
  --primary-70: #d65a31;
  --primary-80: #c44536;

  --secondary-70: #e59572;
  --secondary-80: #cf6448;
}

.cool-theme {
  --neutral-0: #f0faff;
  --neutral-10: #d6efff;
  --neutral-30: #bce4ff;
  --neutral-40: #99d4ff;
  --neutral-60: #66bfff;
  --neutral-70: #3399ff;
  --neutral-100: #002d66;

  --primary-60: #667799;
  --primary-70: #4b5a72;
  --primary-80: #334b66;

  --secondary-70: #5f9ea0;
  --secondary-80: #4682b4;
}

.halloween-theme {
  --neutral-0: black;
  --neutral-10: #1a1a1a;
  --neutral-30: #3d3d3d;
  --neutral-40: #595959;
  --neutral-60: #999999;
  --neutral-70: #cccccc;
  --neutral-100: white;

  --primary-60: #f39c12;
  --primary-70: #e67e22;
  --primary-80: #d35400;

  --secondary-70: #d267ff;
  --secondary-80: #9b59b6;

  --highlight-70: #2ecc71;
  --highlight-80: #27ae60;
}

html { 
  font-family: 'Inter', sans-serif;
  height: 100%;
}
@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}

body {
  background: var(--neutral-10);
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  position: relative;
}

h1,h2,h3,h4,a,li {
  color: var(--neutral-70);
  font-weight: normal;

}

button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

pre {
  background: var(--neutral-10);
  color: var(--neutral-70);
  padding: 1em;
  border-radius: 0.5em;
  overflow-x: auto;
}


/* Checkbox styles  */
.checkbox-label {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
  margin-top: 1em;
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
  
  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em currentColor;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}