:root {
  --netural-0: white;
  --neutral-10: #fffcf1;
  --neutral-30: #d2d2d2;
  --neutral-40: #b7b7b7;
  --neutral-60: #666666;
  --neutral-70: #333333;
  --neutral-100: black;
  
  --primary-60: #777ba2;
  --primary-70: #3D405B;
  --primary-80: #303349;
  
  --secondary-70: #81B29A;
  --secondary-80: #709f88;
}

html { 
  font-family: 'Inter', sans-serif; 
}
@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}

body {
  background: var(--neutral-10);
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
}

h1,h2,h3,h4,a,li {
  color: var(--neutral-70);
  font-weight: normal;

}


/* Checkbox styles  */
.checkbox-label {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
  margin-top: 1em;
  cursor: pointer;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  
  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}