html { 
  font-family: 'Inter', sans-serif; 
}
@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}

body {
  background: #EDEDED;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,a,p,li {
  color: #333333;
  font-weight: normal;

}