:root {
  --neutral-0: white;
  --neutral-10: #fffcf1;
  --neutral-30: #d2d2d2;
  --neutral-40: #b7b7b7;
  --neutral-60: #666666;
  --neutral-70: #333333;
  --neutral-100: black;
  
  --primary-60: #777ba2;
  --primary-70: #3D405B;
  --primary-80: #303349;
  
  --secondary-70: #81B29A;
  --secondary-80: #709f88;

  --error: #c10000;
  --black: black;

  --slack-bg: white;
  --slack-border: 1px solid #ddd;

  --transparent: transparent;
}

.dark-theme {
  --neutral-0: black;
  --neutral-10: #1a1a1a;
  --neutral-30: #3d3d3d;
  --neutral-40: #595959;
  --neutral-60: #999999;
  --neutral-70: #cccccc;
  --neutral-100: white;

  --primary-60: #979ec7;
  --primary-70: #a7aed6;
  --primary-80: #b8bfe9;

  --secondary-70: #79BEA5;
  --secondary-80: #89cfb5;

  --error: #f25252;

  --slack-bg: #4A154B;
  --slack-border: 1px solid var(--slack-bg);
}

.warm-theme {
  --neutral-0: #fff7e0;
  --neutral-10: #ffedcc;
  --neutral-30: #ffdbb7;
  --neutral-40: #ffb89d;
  --neutral-60: #ff9473;
  --neutral-70: #ff5733;
  --neutral-100: #4d2600;

  --primary-60: #f28e2b;
  --primary-70: #d65a31;
  --primary-80: #c44536;

  --secondary-70: #e59572;
  --secondary-80: #cf6448;
}

.cool-theme {
  --neutral-0: #f0faff;
  --neutral-10: #d6efff;
  --neutral-30: #bce4ff;
  --neutral-40: #99d4ff;
  --neutral-60: #66bfff;
  --neutral-70: #3399ff;
  --neutral-100: #002d66;

  --primary-60: #667799;
  --primary-70: #4b5a72;
  --primary-80: #334b66;

  --secondary-70: #5f9ea0;
  --secondary-80: #4682b4;
}

.halloween-theme {
  --neutral-0: black;
  --neutral-10: #1a1a1a;
  --neutral-30: #3d3d3d;
  --neutral-40: #595959;
  --neutral-60: #999999;
  --neutral-70: #cccccc;
  --neutral-100: white;

  --primary-60: #f39c12;
  --primary-70: #e67e22;
  --primary-80: #d35400;

  --secondary-70: #d267ff;
  --secondary-80: #9b59b6;

  --slack-bg: #4A154B;
  --slack-border: 1px solid var(--slack-bg);
}

.christmas-theme {
  --neutral-0: black;
  --neutral-10: #183c45;
  --neutral-30: #235E6F;
  --neutral-40: #3a7c8a;
  --neutral-60: #7ba7b5;
  --neutral-70: white;
  --neutral-100: white;

  --primary-60: #43b1d0;
  --primary-70: #3d9cb7;
  --primary-80: #3589a0;

  --secondary-70: #34A65F;
  --secondary-80: #0F8A5F;

  --slack-bg: #4A154B;
  --slack-border: 1px solid var(--slack-bg);

  h1,h2,h3,h4,a,li {
    text-shadow: none;
  }
}
